@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1cafff;
  overflow-x: hidden;
  width: 100%;
}

nav {
  z-index: 99;
  padding: 0 3px;
}

.navbar-brand {
  font-weight: 800;
  letter-spacing: 0.2em;
}

nav ul li {
  margin-left: 15px;
  position: relative;
}

nav ul li::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #fff;
  right: 50%;
  bottom: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
nav ul li::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #fff;
  left: 50%;
  bottom: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.primary {
  background-color: #1cafff;
}

nav ul li:hover::before {
  width: 50%;
}
nav ul li:hover::after {
  width: 50%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  top: -8px;
}

.cta {
  position: absolute;
  background: radial-gradient(#9cdcff, #1cafff);
  width: 100%;
  height: 100vh;
}

.cta #scene {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cta #scene #text {
  position: absolute;
  display: flex;
  letter-spacing: 3px;
  color: #fff;
  font-size: 9vw;
  z-index: 8;
  text-shadow: 1px 1px 0 #e1e1e1, 2px 2px 0 #e1e1e1, 3px 3px 0 #e1e1e1,
    4px 4px 0 #e1e1e1, 5px 5px 0 #e1e1e1, 6px 6px 0 #e1e1e1,
    13px 17px 0 rgba(0, 0, 0, 0.1);
}

.cta .layer img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

#about {
  position: relative;
  background: url(img/about.jpg) no-repeat left;
  background-size: 65%;
  background-color: #eaeaea;
  overflow: hidden;
  padding: 80px 0;
  margin-top: -8px;
  box-shadow: 8px 0px 49px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 0px 49px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 0px 49px -17px rgba(0, 0, 0, 0.75);
}

.inner {
  width: 55%;
  float: right;
  margin-right: 10px;
  background-color: #fdfdfd;
  padding: 60px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  box-shadow: -2px 6px 115px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 6px 115px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 6px 115px -5px rgba(0, 0, 0, 0.75);
}

.inner h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 15px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.keahlian {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}

#about .credit {
  position: absolute;
  font-size: 8px;
  color: white;
  left: 10px;
  bottom: 5px;
}

#about .credit a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .cta #scene #text {
    text-shadow: 1px 1px 0 #e1e1e1, 2px 2px 0 #e1e1e1, 3px 3px 0 #e1e1e1,
      4px 4px 0 #e1e1e1, 5px 5px 0 #e1e1e1, 6px 6px 0 #e1e1e1,
      13px 11px 0 rgba(0, 0, 0, 0.1);
  }
}
